# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
bin/*
build/*
msg_gen/*
srv_gen/*
src/cgr_graphlab/*
maps/*/*.dat
